
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase
}

.navbar .nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.2rem
}

.navbar-inverse {
    background-color: darkgrey;
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: darkgrey;
}

.dropdown-menu {
    background-color: darkgrey;
}

.navbar-inverse {
    background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
}


.dropdown-menu>li>a {
    color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: orange;
}



.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-menu {
    display: none;
    z-index: 1;
}
.dropdown:hover .dropdown-menu {
    display: block;
}