$nav-grey: darkgrey;
$background : white;
$link: deeppink;

.centered {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

p {
  text-align: justify;
  -moz-text-align-last: left;
  text-align-last: left;
  font-size: 1rem;
  margin-top: 15rem;
  margin-bottom: -10rem;
  font-family: "Microsoft JhengHei UI Light", sans-serif;
  font-weight: bold;
  color: $nav-grey;

  a {
    color: $link;
    text-decoration: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: $nav-grey;
  font-family: "Microsoft JhengHei UI Light", sans-serif;
}

.logo {
  color: $background;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;

  li {
    list-style: none;
  }

  a {
    color: $background;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
  }
}

.burger {
  display: none;

  div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .centered {
    width: auto;
  }

  .nav-links {
    position: fixed;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: $nav-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    transform: translateX(100%);

    li {
      opacity: 0;
    }
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .centered {
    margin: 2rem;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}